<%- include("partials/header.ejs") %>

<h1>About Us</h1>
<img
  class="profile"
  src="images/logo222.png"
  style="background-color: black"
  alt="cat profile"
/>
<p>
  VinStock - Soaring to Financial Freedom The logo for VinStock, featuring a
  stylized bird that forms the letter ‘V’, symbolizes freedom, vision, and
  elevation. Just as a bird has an aerial view of the landscape below, VinStock
  aims to provide its users with a comprehensive overview of their financial
  landscape. The bird’s wings represent freedom and mobility, aligning with the
  project’s goal to empower users with accessible financial data anytime,
  anywhere. The ‘V’ not only stands for VinStock but also victory, indicating
  the project's commitment to leading its users to financial success.
</p>

<%- include("partials/footer.ejs") %>
