<%- include("partials/header.ejs") %>

<h1>Products</h1>

<h2>Product 1: Search</h2>
<p>Lorem ipsum dolor sit amet, et proin, justo mus. Porta suspendisse turpis netus sagittis tortor at, vitae aliquet
    pharetra cras velit, id gravida, neque nulla lorem, posuere hac. Ultricies eget lacus vehicula, in ante aliquam
</p>

<!-- Buttons -->
<div class="home-container">
    <form action="/secrets" method="GET">
        <button type="submit" name="symbol" value="start">Get Product 1</button>
    </form>
    <!-- Add more forms for each button -->
</div>

<h2>Product 2</h2>
<p>Lorem ipsum dolor sit amet, et proin, justo mus. Porta suspendisse turpis netus sagittis tortor at, vitae aliquet
  pharetra cras velit, id gravida, neque nulla lorem, posuere hac. Ultricies eget lacus vehicula, in ante aliquam
</p>
<!-- Buttons -->
<div class="home-container">
    <form action="/secrets" method="GET">
        <button type="submit" name="symbol" value="start">Get Product 2</button>
    </form>
    <!-- Add more forms for each button -->
</div>

<h2>Product 3</h2>
<p>Lorem ipsum dolor sit amet, et proin, justo mus. Porta suspendisse turpis netus sagittis tortor at, vitae aliquet
    pharetra cras velit, id gravida, neque nulla lorem, posuere hac. Ultricies eget lacus vehicula, in ante aliquam
  </p>
  <!-- Buttons -->
  <div class="home-container">
      <form action="/secrets" method="GET">
          <button type="submit" name="symbol" value="start">Get Product 3</button>
      </form>
      <!-- Add more forms for each button -->
  </div>

<%- include("partials/footer.ejs") %>
