<%- include("partials/header.ejs") %>

<h2>Autocomplete Search</h2>

<p>Start typing:</p>
<!--Make sure the form has the autocomplete function switched off:-->
<form id="searchForm" autocomplete="off" action="/result" method="GET">
  <div class="autocomplete" style="width:300px;">
    <input id="myInput" type="text" name="myCountry" placeholder="Symbol or Comapny Name">
  </div>
  <input id="submitBtn" type="submit">
</form>

<script>
  let countries = <%- countries %>;
</script>
<script src="/scripts/script.js"></script>

<%- include("partials/footer.ejs") %>
