<!DOCTYPE html>
<html style="font-size: 16px" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta
      name="keywords"
      content="Billionaires Peter Thiel and Alan Howard back new $10bn crypto exchange"
    />
    <meta name="description" content="" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles/vinpage.css" media="screen" />
    <link rel="stylesheet" href="/styles/Dashboard.css" media="screen" />
    <link rel="stylesheet" href="/styles/button.css" media="screen" />
    <script
      class="u-script"
      type="text/javascript"
      src="/scripts/jquery.js"
      defer=""
    ></script>
    <script
      class="u-script"
      type="text/javascript"
      src="/scripts/vinpage.js"
      defer=""
    ></script>
    <meta name="referrer" content="origin" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
    />
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
    />
    <link
      id="u-page-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Doppio+One:400"
    />

    <meta name="theme-color" content="#478ac9" />
    <meta property="og:title" content="Home" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta data-intl-tel-input-cdn-path="intlTelInput/" />
  </head>
  <body
    data-path-to-root="./"
    data-include-products="false"
    class="u-body u-xl-mode"
    data-lang="en"
  >
    <header class="u-black u-clearfix u-header u-header" id="sec-35cf">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a
          href="/"
          class="u-image u-logo u-image-1"
          title="logo"
          data-image-width="640"
          data-image-height="832"
        >
          <img src="images/logo222.png" class="u-logo-image u-logo-image-1" />
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div
            class="menu-collapse"
            style="font-size: 1rem; letter-spacing: 0px"
          >
            <a
              class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
              href="#"
            >
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="#menu-hamburger"
                ></use>
              </svg>
              <svg
                class="u-svg-content"
                version="1.1"
                id="menu-hamburger"
                viewBox="0 0 16 16"
                x="0px"
                y="0px"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                  href="/secrets"
                  style="padding: 10px 20px"
                  >UserDashboard</a
                >
              </li>

              <li class="u-nav-item">
                <a class="u-button-style u-nav-link" href="/admin">Admin</a>
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                  href="/search"
                  style="padding: 10px 20px"
                  >Stock search</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                  style="padding: 10px 20px"
                  >Companies</a
                >
                <div class="u-nav-popup">
                  <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10">
                    <li class="u-nav-item">
                      <a
                        class="u-button-style u-nav-link u-white"
                        href="/seover"
                        >Information</a
                      >
                    </li>
                    <li class="u-nav-item">
                      <a
                        class="u-button-style u-nav-link u-white"
                        href="/sestate"
                        >Income Statement</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                  href="/stocklist"
                  style="padding: 10px 20px"
                  >Favorite</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                  href="/logout"
                  style="padding: 10px 20px"
                  >Logout</a
                >
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div
              class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav"
            >
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul
                  class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-3"
                >
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="/secrets"
                      >UserDashboard</a
                    >
                  </li>

                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="/admin">Admin</a>
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="/search"
                      >Stock search</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link">Companies</a>
                    <div class="u-nav-popup">
                      <ul
                        class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10"
                      >
                        <li class="u-nav-item">
                          <a class="u-button-style u-nav-link" href="/seover"
                            >Information</a
                          >
                        </li>
                        <li class="u-nav-item">
                          <a class="u-button-style u-nav-link" href="/sestate"
                            >Income Statement</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="/stocklist"
                      >Favorite</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="/logout"
                      >Logout</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>

    <!-- Dynamic Stock list (Buttons) -->
    <section>
      <div class="home-container">
        <% symbolLists.forEach(stock => { %>
        <form action="/show" method="GET">
          <input type="hidden" name="symbol" value="<%= stock.symbol %>" />
          <button type="submit">View <%= stock.symbol %> Details</button>
        </form>
        <% }); %>
      </div>
    </section>
    <section
      class="u-align-left u-clearfix u-image u-section-1"
      id="sec-8dd0"
      src=""
      data-image-width="1201"
      data-image-height="686"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1
          class="u-align-left u-custom-font u-text u-text-palette-4-light-1 u-title u-text-1"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500"
          data-animation-direction="X"
        >
          USER DASHBOARD
        </h1>
        <div
          class="custom-expanded data-layout-selected u-clearfix u-layout-custom-sm u-layout-custom-xs u-layout-wrap u-layout-wrap-1"
        >
          <div class="u-layout">
            <div class="u-layout-row">
              <div
                class="u-container-align-right u-container-style u-layout-cell u-size-30-lg u-size-30-md u-size-30-sm u-size-30-xl u-size-60-xs u-layout-cell-2"
                data-animation-name="customAnimationIn"
                data-animation-duration="1500"
                data-animation-delay="500"
              >
                <div
                  class="u-container-layout u-valign-middle u-container-layout-2"
                >
                  <a
                    href="/logout"
                    role="button"
                    class="u-active-white u-align-right u-btn u-btn-round u-button-style u-hover-white u-palette-1-base u-radius-15 u-text-active-palette-1-base u-text-hover-palette-1-base u-btn-2"
                    data-animation-name="customAnimationIn"
                    data-animation-duration="1500"
                    data-animation-delay="500"
                    data-animation-direction=""
                    >Logout</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="u-clearfix u-container-align-center u-palette-5-dark-3 u-section-2"
      id="sec-83ff"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2
          class="u-align-center u-text u-text-1"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500"
          data-animation-delay="0"
        >
          We serve our clients around the globe
        </h2>
        <div
          class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1"
        >
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div
                    class="u-align-left u-container-style u-gradient u-layout-cell u-size-20 u-layout-cell-1"
                    data-animation-name="customAnimationIn"
                    data-animation-duration="1500"
                    data-animation-delay="500"
                  >
                    <div
                      class="u-container-layout u-valign-middle u-container-layout-1"
                    >
                      <h3
                        class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-default u-text-2"
                      >
                        Income statement
                      </h3>
                      <p
                        class="u-text u-text-body-alt-color u-text-default u-text-3"
                      >
                        Explore our detailed income statement analysis,
                        providing a comprehensive view of various financial
                        performances.
                      </p>
                      <a
                        href="/sestate"
                        class="u-border-2 u-border-active-palette-1-light-2 u-border-hover-palette-1-light-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-none u-radius-0 u-text-active-palette-1-light-2 u-text-body-alt-color u-text-hover-palette-1-light-2 u-top-left-radius-0 u-top-right-radius-0 u-btn-1"
                        >Enter&nbsp;
                      </a>
                    </div>
                  </div>
                  <div
                    class="cell-temp-clone u-align-left u-container-style u-gradient u-layout-cell u-size-20 u-layout-cell-2"
                    data-animation-name="customAnimationIn"
                    data-animation-duration="1500"
                    data-animation-delay="500"
                  >
                    <div
                      class="u-container-layout u-valign-middle u-container-layout-2"
                    >
                      <h3
                        class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-default u-text-4"
                      >
                        One-click search
                      </h3>
                      <p
                        class="u-text u-text-body-alt-color u-text-default u-text-5"
                      >
                        Experience the convenience of our one-click search
                        feature. Quickly find and analyze stocks with ease.
                      </p>
                      <a
                        href="/search"
                        class="u-border-2 u-border-active-palette-1-light-2 u-border-hover-palette-1-light-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-none u-radius-0 u-text-active-palette-1-light-2 u-text-body-alt-color u-text-hover-palette-1-light-2 u-top-left-radius-0 u-top-right-radius-0 u-btn-2"
                        >Enter&nbsp;
                      </a>
                    </div>
                  </div>
                  <div
                    class="cell-temp-clone u-align-left u-container-style u-gradient u-layout-cell u-size-20 u-layout-cell-3"
                    data-animation-name="customAnimationIn"
                    data-animation-duration="1500"
                    data-animation-delay="500"
                  >
                    <div
                      class="u-container-layout u-valign-middle u-container-layout-3"
                    >
                      <h3
                        class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-default u-text-6"
                      >
                        Companies Info
                      </h3>
                      <p
                        class="u-text u-text-body-alt-color u-text-default u-text-7"
                      >
                        Explore detailed information about various companies.
                      </p>
                      <a
                        href="/seover"
                        class="u-border-2 u-border-active-palette-1-light-2 u-border-hover-palette-1-light-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-none u-radius-0 u-text-active-palette-1-light-2 u-text-body-alt-color u-text-hover-palette-1-light-2 u-top-left-radius-0 u-top-right-radius-0 u-btn-3"
                        >Enter&nbsp;
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div
                    class="u-align-left u-container-style u-image u-image-default u-layout-cell u-size-20 u-image-1"
                    data-image-width="1405"
                    data-image-height="1080"
                    data-animation-name="customAnimationIn"
                    data-animation-duration="1500"
                    data-animation-delay="750"
                  >
                    <div class="u-container-layout u-container-layout-4"></div>
                  </div>
                  <div
                    class="u-align-left u-container-style u-gradient u-layout-cell u-shape-rectangle u-size-20 u-layout-cell-5"
                    data-animation-name="customAnimationIn"
                    data-animation-duration="1500"
                    data-animation-delay="750"
                  >
                    <div
                      class="u-container-layout u-valign-top u-container-layout-5"
                    >
                      <h3
                        class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-default u-text-8"
                      >
                        My favorite
                      </h3>
                      <p
                        class="u-text u-text-body-alt-color u-text-default u-text-9"
                      >
                        Explore your curated selection of top-performing stocks
                        and investment opportunities.
                      </p>
                      <a
                        href="/stocklist"
                        class="u-border-2 u-border-active-palette-1-light-2 u-border-hover-palette-1-light-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-none u-radius-0 u-text-active-palette-1-light-2 u-text-body-alt-color u-text-hover-palette-1-light-2 u-top-left-radius-0 u-top-right-radius-0 u-btn-4"
                        >Enter&nbsp;
                      </a>
                    </div>
                  </div>
                  <div
                    class="u-align-left u-container-style u-image u-image-default u-layout-cell u-shape-round u-size-20 u-image-2"
                    data-image-width="1920"
                    data-image-height="1080"
                    data-animation-name="customAnimationIn"
                    data-animation-duration="1500"
                    data-animation-delay="750"
                  >
                    <div
                      class="u-container-layout u-valign-top u-container-layout-6"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="u-align-center u-black u-clearfix u-container-align-center u-section-3"
      id="sec-410a"
    >
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <!--products--><!--products_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/products_options_json-->
        <div
          class="u-expanded-width u-layout-horizontal u-products u-products-1"
          data-site-sorting-prop="created"
          data-site-sorting-order="desc"
          data-products-datasource="site"
          data-items-per-page="6"
          data-products-id="1"
        >
          <div class="u-list-control"></div>
          <div class="u-repeater u-repeater-1">
            <!--product_item-->
            <div
              class="u-align-left u-container-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-1"
              data-product-id="2"
            >
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-1"
              >
                <!--product_image-->
                <a class="u-product-title-link"
                  ><img
                    alt=""
                    class="u-expanded-width u-image u-image-contain u-image-default u-product-control u-image-1"
                    src="/images/apple_photo.webp" /></a
                ><!--/product_image--><!--product_title-->
                <h4
                  class="u-align-center u-product-control u-text u-text-default u-text-1"
                >
                  <a class="u-product-title-link">Apple</a>
                </h4>
                <!--/product_title--><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":""}--><!--/options_json-->
                <form action="/show" method="GET">
                  <button type="submit" name="symbol" value="AAPL">
                    <i class="fab fa-apple"></i> AAPL
                  </button>
                </form>
              </div>
            </div>
            <!--/product_item--><!--product_item-->
            <div
              class="u-align-left u-container-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-2"
              data-product-id="3"
            >
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-1"
              >
                <!--product_image-->
                <a class="u-product-title-link"
                  ><img
                    alt=""
                    class="u-expanded-width u-image u-image-contain u-image-default u-product-control u-image-1"
                    src="/images/google-building-logo-shutterstock_559400386.jpeg" /></a
                ><!--/product_image--><!--product_title-->
                <h4
                  class="u-align-center u-product-control u-text u-text-default u-text-1"
                >
                  <a class="u-product-title-link">Google</a>
                </h4>
                <!--/product_title--><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":""}--><!--/options_json-->
                <form action="/show" method="GET">
                  <button type="submit" name="symbol" value="GOOGL">
                    <i class="fab fa-google"></i> GOOGL
                  </button>
                </form>
              </div>
            </div>
            <!--/product_item--><!--product_item-->
            <div
              class="u-align-left u-container-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-3"
              data-product-id="4"
            >
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-1"
              >
                <!--product_image-->
                <a class="u-product-title-link"
                  ><img
                    alt=""
                    class="u-expanded-width u-image u-image-contain u-image-default u-product-control u-image-1"
                    src="/images/amazon_photo.jpg" /></a
                ><!--/product_image--><!--product_title-->
                <h4
                  class="u-align-center u-product-control u-text u-text-default u-text-1"
                >
                  <a class="u-product-title-link">Amazon</a>
                </h4>
                <!--/product_title--><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":""}--><!--/options_json-->
                <form action="/show" method="GET">
                  <button type="submit" name="symbol" value="AMZN">
                    <i class="fab fa-amazon"></i> AMZN
                  </button>
                </form>
              </div>
            </div>
            <!--/product_item--><!--product_item-->
            <div
              class="u-align-left u-container-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-4"
              data-product-id="5"
            >
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-1"
              >
                <!--product_image-->
                <a class="u-product-title-link"
                  ><img
                    alt=""
                    class="u-expanded-width u-image u-image-contain u-image-default u-product-control u-image-1"
                    src="/images/tesla_photo.jpg" /></a
                ><!--/product_image--><!--product_title-->
                <h4
                  class="u-align-center u-product-control u-text u-text-default u-text-1"
                >
                  <a class="u-product-title-link">Tesla</a>
                </h4>
                <!--/product_title--><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":""}--><!--/options_json-->
                <form action="/show" method="GET">
                  <button type="submit" name="symbol" value="TSLA">
                    <i class="fab fa-tesla"></i> TSLA
                  </button>
                </form>
              </div>
            </div>
            <!--/product_item--><!--product_item-->
            <div
              class="u-align-left u-container-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-5"
              data-product-id="6"
            >
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-1"
              >
                <!--product_image-->
                <a class="u-product-title-link"
                  ><img
                    alt=""
                    class="u-expanded-width u-image u-image-contain u-image-default u-product-control u-image-1"
                    src="/images/meta_photo.jpg" /></a
                ><!--/product_image--><!--product_title-->
                <h4
                  class="u-align-center u-product-control u-text u-text-default u-text-1"
                >
                  <a class="u-product-title-link">Facebook</a>
                </h4>
                <!--/product_title--><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":""}--><!--/options_json-->
                <form action="/show" method="GET">
                  <button type="submit" name="symbol" value="META">
                    <i class="fab fa-facebook"></i> META
                  </button>
                </form>
              </div>
            </div>
            <!--/product_item--><!--product_item-->
            <div
              class="u-align-left u-container-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-6"
              data-product-id="1"
            >
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-1"
              >
                <!--product_image-->
                <a class="u-product-title-link"
                  ><img
                    alt=""
                    class="u-expanded-width u-image u-image-contain u-image-default u-product-control u-image-1"
                    src="/images/microsoft_photo.jpg" /></a
                ><!--/product_image--><!--product_title-->
                <h4
                  class="u-align-center u-product-control u-text u-text-default u-text-1"
                >
                  <a class="u-product-title-link">Microsoft</a>
                </h4>
                <!--/product_title--><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":""}--><!--/options_json-->
                <form action="/show" method="GET">
                  <button type="submit" name="symbol" value="MSFT">
                    <i class="fab fa-windows"></i> MSFT
                  </button>
                </form>
              </div>
            </div>
            <!--/product_item-->
            <div
              class="u-align-left u-container-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-6"
              data-product-id="1"
            >
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-1"
              >
                <!--product_image-->
                <a class="u-product-title-link"
                  ><img
                    alt=""
                    class="u-expanded-width u-image u-image-contain u-image-default u-product-control u-image-1"
                    src="/images/netflix_photo.webp" /></a
                ><!--/product_image--><!--product_title-->
                <h4
                  class="u-align-center u-product-control u-text u-text-default u-text-1"
                >
                  <a class="u-product-title-link">NetFlix</a>
                </h4>
                <!--/product_title--><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":""}--><!--/options_json-->
                <form action="/show" method="GET">
                  <button type="submit" name="symbol" value="NFLX">
                    <i class="fab fa-apple"></i> NFLX
                  </button>
                </form>
              </div>
            </div>
            <!--/product_item-->
            <div
              class="u-align-left u-container-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-6"
              data-product-id="1"
            >
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-1"
              >
                <!--product_image-->
                <a class="u-product-title-link"
                  ><img
                    alt=""
                    class="u-expanded-width u-image u-image-contain u-image-default u-product-control u-image-1"
                    src="/images/nvidia_photo.jpg" /></a
                ><!--/product_image--><!--product_title-->
                <h4
                  class="u-align-center u-product-control u-text u-text-default u-text-1"
                >
                  <a class="u-product-title-link">NVIDIA</a>
                </h4>
                <!--/product_title--><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":""}--><!--/options_json-->
                <form action="/show" method="GET">
                  <button type="submit" name="symbol" value="NVDA">
                    <i class="fab fa-apple"></i> NVDA
                  </button>
                </form>
              </div>
            </div>
            <!--/product_item-->
            <div
              class="u-align-left u-container-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-6"
              data-product-id="1"
            >
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-1"
              >
                <!--product_image-->
                <a class="u-product-title-link"
                  ><img
                    alt=""
                    class="u-expanded-width u-image u-image-contain u-image-default u-product-control u-image-1"
                    src="/images/paypal_photo.jpeg" /></a
                ><!--/product_image--><!--product_title-->
                <h4
                  class="u-align-center u-product-control u-text u-text-default u-text-1"
                >
                  <a class="u-product-title-link">PayPal</a>
                </h4>
                <!--/product_title--><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":""}--><!--/options_json-->
                <form action="/show" method="GET">
                  <button type="submit" name="symbol" value="PYPL">
                    <i class="fab fa-paypal"></i> PYPL
                  </button>
                </form>
              </div>
            </div>
            <div
              class="u-align-left u-container-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-6"
              data-product-id="1"
            >
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-1"
              >
                <!--product_image-->
                <a class="u-product-title-link"
                  ><img
                    alt=""
                    class="u-expanded-width u-image u-image-contain u-image-default u-product-control u-image-1"
                    src="images/53c4c417.svg" /></a
                ><!--/product_image--><!--product_title-->
                <h4
                  class="u-align-center u-product-control u-text u-text-default u-text-1"
                >
                  <a class="u-product-title-link">AMD</a>
                </h4>
                <!--/product_title--><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":""}--><!--/options_json-->
                <form action="/show" method="GET">
                  <button type="submit" name="symbol" value="AMD">
                    <i class="fab fa-apple"></i> AMD
                  </button>
                </form>
              </div>
            </div>
            <div
              class="u-align-left u-container-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-6"
              data-product-id="1"
            >
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-1"
              >
                <!--product_image-->
                <a class="u-product-title-link"
                  ><img
                    alt=""
                    class="u-expanded-width u-image u-image-contain u-image-default u-product-control u-image-1"
                    src="images/53c4c417.svg" /></a
                ><!--/product_image--><!--product_title-->
                <h4
                  class="u-align-center u-product-control u-text u-text-default u-text-1"
                >
                  <a class="u-product-title-link">Apple</a>
                </h4>
                <!--/product_title--><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":""}--><!--/options_json-->
                <form action="/show" method="GET">
                  <button type="submit" name="symbol" value="AAPL">
                    <i class="fab fa-apple"></i> AAPL
                  </button>
                </form>
              </div>
            </div>
            <div
              class="u-align-left u-container-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-6"
              data-product-id="1"
            >
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-1"
              >
                <!--product_image-->
                <a class="u-product-title-link"
                  ><img
                    alt=""
                    class="u-expanded-width u-image u-image-contain u-image-default u-product-control u-image-1"
                    src="images/53c4c417.svg" /></a
                ><!--/product_image--><!--product_title-->
                <h4
                  class="u-align-center u-product-control u-text u-text-default u-text-1"
                >
                  <a class="u-product-title-link">Apple</a>
                </h4>
                <!--/product_title--><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":""}--><!--/options_json-->
                <form action="/show" method="GET">
                  <button type="submit" name="symbol" value="AAPL">
                    <i class="fab fa-apple"></i> AAPL
                  </button>
                </form>
              </div>
            </div>
          </div>
          <a
            class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1"
            href="#"
            role="button"
          >
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847">
                <path
                  d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"
                ></path>
              </svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847">
                <path
                  d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"
                ></path>
              </svg>
            </span>
          </a>
          <a
            class="u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2"
            href="#"
            role="button"
          >
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847">
                <path
                  d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"
                ></path>
              </svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847">
                <path
                  d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"
                ></path>
              </svg>
            </span>
          </a>
          <a
            class="u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2"
            href="#"
            role="button"
          >
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847">
                <path
                  d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"
                ></path>
              </svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847">
                <path
                  d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"
                ></path>
              </svg>
            </span>
          </a>
          <div class="u-list-control"></div>
        </div>
        <!--/products-->
      </div>
    </section>

    <footer
      class="u-align-center u-clearfix u-footer u-grey-80 u-footer"
      id="sec-6f38"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Copyright</p>
      </div>
    </footer>
  </body>
</html>
