<%- include("partials/header.ejs") %>

<h1>User Dashboard</h1>

<p>Lorem ipsum dolor sit amet, et proin, justo mus. Porta suspendisse turpis netus sagittis tortor at, vitae aliquet
    pharetra cras velit, id gravida, neque nulla lorem, posuere hac. Ultricies eget lacus vehicula, in ante aliquam
    et,facilisis tempor duis orci. Sed molestie sem in duis eu id, nisl id ultricies metus blandit eget praesent, pede
    tempornullam, vitae arcu tortor suspendisse nibh risus. Nulla id suscipit reiciendis nulla erat. Porta enim aute
    luctus,ducimus sodales dolor.
</p>

<!-- Buttons -->
<div class="home-container">
    <form action="/show" method="GET">
        <button type="submit" name="symbol" value="AAPL">AAPL</button>
    </form>
    <form action="/show" method="GET">
        <button type="submit" name="symbol" value="GOOGL">GOOGL</button>
    </form>
    <form action="/show" method="GET">
      <button type="submit" name="symbol" value="MSFT">MSFT</button>
    </form>
    <form action="/show" method="GET">
        <button type="submit" name="symbol" value="AMZN">AMZN</button>
    </form>
    <form action="/show" method="GET">
      <button type="submit" name="symbol" value="TSLA">TSLA</button>
    </form>
    <form action="/show" method="GET">
        <button type="submit" name="symbol" value="META">META</button>
    </form>
    <form action="/show" method="GET">
      <button type="submit" name="symbol" value="NFLX">NFLX</button>
    </form>
    <form action="/show" method="GET">
        <button type="submit" name="symbol" value="NVDA">NVDA</button>
    </form>
    <form action="/show" method="GET">
      <button type="submit" name="symbol" value="PYPL">PYPL</button>
    </form>
    <form action="/show" method="GET">
        <button type="submit" name="symbol" value="AMD">AMD</button>
    </form>
    <!-- Add more forms for each button -->
</div>

<div>
  <form action="/search" method="GET">
    <button type="submit" name="symbol" value="search">Symbol or Company Search</button>
  </form>
</div>


<div>
  <form action="/seover" method="GET">
    <button type="submit" name="symbol" value="search">Company Overview Search</button>
  </form>
</div>

<div>
  <form action="/sestate" method="GET">
    <button type="submit" name="symbol" value="search">Income Statement Search</button>
  </form>
</div>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include("partials/footer.ejs") %>
