<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Billionaires Peter Thiel and Alan Howard back new $10bn crypto exchange">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/vinpage.css" media="screen">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/Dashboard.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <script class="u-script" type="text/javascript" src="/scripts/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/scripts/vinpage.js" defer=""></script>
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Doppio+One:400">  
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en" style="overflow-y: scroll;"><header class="u-black u-clearfix u-header u-header" id="sec-35cf"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1" title="logo" data-image-width="640" data-image-height="832">
          <img src="/images/logo222.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/secrets" style="padding: 10px 20px;">UserDashboard</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/search" style="padding: 10px 20px;">Stock search</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" style="padding: 10px 20px;">Companies</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10">
<li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="/seover">Information</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="/sestate">Income Statement</a>
</li></ul>
</div>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/stocklist" style="padding: 10px 20px;">Favorite</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/logout" style="padding: 10px 20px;">Logout</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-3"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/secrets">UserDashboard</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/search">Stock search</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" >Companies</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10">
  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/seover">Information</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/sestate">Income Statement</a>
</li></ul>
</div>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/stocklist">Favorite</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/logout">Logout</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>

<img
  class="profile"
  src="/images/logo222.png"
  style="background-color: black"
  alt="cat profile"
/>

<div class="centered-container">
  <div class="container-inner">   
    <h1>Result Page</h1>
    <p>Symbol successfully added</p>

  <!--Back button-->
  <form id="addForm" method="GET" action='/admin' class="button-container">
    <button type="submit" name="back" >Back</button>
  </form>

  </div>
</div>

<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-6f38"><div class="u-clearfix u-sheet u-sheet-1">
  <p class="u-small-text u-text u-text-variant u-text-1">Copyright</p>
</div></footer>

</body></html>
