<%- include("partials/header.ejs") %>

<h1>Welcome Admin!</h1>

<h2>Manage Stock Symbols</h2>

<h1>User List</h1>
  
  <ul>
    <% userList.forEach(user => { %>
      <li><%= user %></li>
    <% }); %>
  </ul>

  <!--Back button-->
<form id="addForm" method="GET" action='/admin' class="button-container">
  <button type="submit" name="back" >Back</button>
</form>

<%- include("partials/footer.ejs") %>
