<%- include("partials/header.ejs") %>

<h1>How it Works</h1>

<p>Lorem ipsum dolor sit amet, et proin, justo mus. Porta suspendisse turpis netus sagittis tortor at, vitae aliquet
    pharetra cras velit, id gravida, neque nulla lorem, posuere hac. Ultricies eget lacus vehicula, in ante aliquam
</p>

<!-- Buttons -->
<div class="home-container">
    <form action="/products" method="GET">
        <button type="submit" name="symbol" value="start">Get Started 1</button>
    </form>
    <!-- Add more forms for each button -->
</div>

<p>Lorem ipsum dolor sit amet, et proin, justo mus. Porta suspendisse turpis netus sagittis tortor at, vitae aliquet
  pharetra cras velit, id gravida, neque nulla lorem, posuere hac. Ultricies eget lacus vehicula, in ante aliquam
</p>
<!-- Buttons -->
<div class="home-container">
    <form action="/products" method="GET">
        <button type="submit" name="symbol" value="start">Get Started 2</button>
    </form>
    <!-- Add more forms for each button -->
</div>

<p>Lorem ipsum dolor sit amet, et proin, justo mus. Porta suspendisse turpis netus sagittis tortor at, vitae aliquet
    pharetra cras velit, id gravida, neque nulla lorem, posuere hac. Ultricies eget lacus vehicula, in ante aliquam
  </p>
  <!-- Buttons -->
  <div class="home-container">
      <form action="/products" method="GET">
          <button type="submit" name="symbol" value="start">Get Started 3</button>
      </form>
      <!-- Add more forms for each button -->
  </div>

<%- include("partials/footer.ejs") %>
