.home-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 4 columns */
  gap: 10px; /* Gap between buttons */
  justify-content: center;
  align-items: stretch;
  margin-bottom: 20px;
}

.form-inline {
  display: flex;
  align-items: center;
}

.form-inline input,
.form-inline button {
  margin-right: 5px; /* Adjust the margin as needed */
}