.logo {
  background-image: url("/images/logo1.png");
  background-position: 50% 50%;
  padding-bottom: 150px;
  padding-top: 120px;
}

.stock-list {
  list-style-type: none;
  padding: 0;
}

.stock-list-item {
  margin-bottom: 10px; /* Adjust as needed */
}

.symbol {
  display: inline-block;
  margin-right: 10px; /* Adjust as needed to add space between symbol and button */
}

.stock-form {
  display: inline-block;
  vertical-align: middle; /* Align button vertically with the symbol */
}

.stock-form button {
  display: block;
  margin-top: 5px; /* Adjust as needed to add space between button and next line */
}
 
    
    /* Style for the heading */
    h1 {
        text-align: center;
        color: #333;
    }
  
  
/* Center the stock list */
.stock-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  /* Style for each list item */
  .stock-list-item {
    background-color: #f2f2f2;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block; /* Ensure list items are inline */
  }
  
  /* Style for the "View Details" button */
  .view-details-btn {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .view-details-btn:hover {
    background-color: #45a049; /* Darker Green on hover */
  }
  
  /* Responsive styling for small screens */
  @media screen and (max-width: 600px) {
    .stock-list-item {
      padding: 8px;
    }
  
    .view-details-btn {
      padding: 6px 12px;
      font-size: 12px;
    }
  }
  

      /* Style for the back link */
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff; /* Blue */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  