.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px; /* Adjust as needed */
  margin-bottom: 20px;
}

/* Additional styling for the Company Overview and Income Statement buttons */
button[name="companyOverview"],
button[name="incomeStatement"],
button[name="monthlyPrice"],
button[name="weeklyPrice"],
button[name="intradayPrice"],
button[name="dailyPrice"] {
  background-color: #333; /* Green */
  border-color: #2980b9; /* Darker Green */
}

button[name="companyOverview"]:hover,
button[name="incomeStatement"]:hover,
button[name="monthlyPrice"]:hover,
button[name="weeklyPrice"]:hover,
button[name="intradayPrice"]:hover,
button[name="dailyPrice"]:hover{
  background-color: #2980b9; /* Darker Green on hover */
}

button {
  padding: 6px 30px;
  color: black;
  border: 1px solid black; /* Darker Blue */
  border-radius: 20%;
  
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9; /* Darker Blue on hover */
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-inner {
  max-width: 900px;
}

#googleCandlestickChart {
  width: 850px;
  height: 500px;
  /* Add any additional styling for the chart if needed */
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:white;
}

.container-inner {
  text-align: center;
  color: black;
}

* {
  box-sizing: border-box;
}

body {
  font: 16px Arial; 
}


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px; /* Adjust the max-height value as needed */
  overflow-y: auto;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

/* CSS for the div containing the forms and buttons */
div.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* CSS for the forms inside the div */
div.home-container form {
  margin: 10px; /* Adjust as needed */
}

/* CSS for the buttons inside the forms */
div.home-container form button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* CSS for button hover effect */
div.home-container form button:hover {
  background-color: #45a049; /* Darker Green */
}


.response-area {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between; /* Ensure even spacing between items */
  margin-top: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.response-area div {
  text-align: left;
  flex-basis: calc(50% - 10px); /* 50% width with 10px gap in between */
}

.response-area label {
  font-weight: bold;
  color: #333;
}

.response-area div[id^="symbol"],
.response-area div[id^="openPrice"],
.response-area div[id^="highPrice"],
.response-area div[id^="lowPrice"],
.response-area div[id^="currentPrice"],
.response-area div[id^="volume"],
.response-area div[id^="latestTradingDay"],
.response-area div[id^="previousClose"],
.response-area div[id^="change"],
.response-area div[id^="changePercent"] {
  font-weight: bold;
  color: #4CAF50; /* Green for positive values */
}

.response-area div[id^="changePercent"][data-negative="true"] {
  color: #e74c3c; /* Red for negative values */
}

.response-area p {
  color: #e74c3c;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.u-footer {
  margin-top: auto;
}


/* Style for tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Style for table headings */
thead {
  background-color: #f2f2f2;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Style for alternating row colors in the tables */
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Style for table headings in the h2 section */
h2 {
  margin-top: 20px;
}

/* Responsive styling for small screens */
@media screen and (max-width: 600px) {
  table {
    font-size: 14px;
  }

  th, td {
    padding: 6px;
  }
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px; /* Adjust the max-height value as needed */
  overflow-y: auto;
}

/* Style for the profile image */
.profile {
  width: 200px; /* Set your preferred width */
  height:  200px; /* Maintain aspect ratio */
  border-radius: 50%; /* Create a circular shape */
  background-color: black; /* Background color behind the image */
  border: 3px solid #fff; /* White border around the image */
  display: block; /* Ensure proper spacing and centering */
  margin: 0 auto; /* Center the image */
}

button{
  border: 1px solid black; /* Darker Blue */
  border-radius: 70%;
  padding: 6px 30px;
}