.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px; /* Adjust as needed */
  margin-bottom: 20px;
}

button {
  padding: 6px 4px;
  background-color: #333; /* Blue */
  color: #fff;
  border: 1px solid #2980b9; /* Darker Blue */
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9; /* Darker Blue on hover */
}

/* Additional styling for the Company Overview and Income Statement buttons */
button[name="companyOverview"],
button[name="incomeStatement"] {
  background-color: #333; /* Green */
  border-color: #2980b9; /* Darker Green */
}

button[name="companyOverview"]:hover,
button[name="incomeStatement"]:hover {
  background-color: #2980b9; /* Darker Green on hover */
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-inner {
  max-width: 900px;
}

#googleCandlestickChart {
  width: 850px;
  height: 500px;
  /* Add any additional styling for the chart if needed */
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-inner {
  text-align: center;
}
